header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 68px;
    margin: 40px 10%;
}

nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.header_lien {
    color: #ff6060;
    font-weight: 700;
    margin: auto 25px;
    text-decoration: none;
}

.header_lien_souligne:hover {
    color: #ff6060;
}

.header_lien_souligne {
    border-bottom: 1px solid #ff6060;
}

.header_lien_vide {
    color: #ff6060;
}

@media screen and (max-width: 700px) {
    header {
        margin: 40px 2.5%;
        width: 95%;
    }
    .header_lien {
        margin: auto 5px;
    }   
}